PAGE D'AUTHENTIFICATION
<body>
    <section id="login-page">

        <div id="login-left">
            <img src="images/towning-pictures/login.jpeg" alt="Welcome to towning">
        </div>

        <div id="login-right">
            <a href="/">← Back to homepage</a>
        </div>
    </section>
</body>