DISPLAY USER PROFILE

<body>
    <div id="profile-menu">
        <button>PROFILE</button>
        <button>MY TRAVELLER EXPERIENCE</button>
        <button>MY HOTE EXPERIENCE</button>
    </div>

    <div id="profile-content">
        <a href="/profile/user-profile-edit">Edit the profile</a>

    </div>
</body>