<body>
    <section id="homepage">
        <div id="homepage-header">
            {{#if user }} 
            <a href="/user-profile/{{user._id}}">My Profile</a>
            {{else}}
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
            {{/if}}
        </div>
        <div id="homepage-titles">
            <h1>towning</h1>
            <h3>I surely wanna go for a run in Berlin!</h3>
            <div id="homepage-search">
            <form action="/search-experience" method="GET">
                <label>
                    Experience ↓
                    <select name="xpcategory" class="hp-input">
                        <option value="">--select a category</option>
                        <optgroup label="Food experience">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Happy Hour">Happy Hour</option>
                            <option value="Dinner">Dinner</option>
                        </optgroup>
                        <optgroup label="Sports experience">
                            <option value="Running">Running</option>
                            <option value="Biking">Biking</option>
                            <option value="Yoga">Yoga</option>
                            <option value="Extreme sports">Extreme sports</option>
                        </optgroup>
                        <optgroup label="Cultural experience">
                            <option value="Museums">Museums</option>
                            <option value="Must-see spots">Must-see spots</option>
                            <option value="Unknown spots">Unknown spots</option>
                            <option value="Historical spots">Historical spots</option>
                        </optgroup>
                    </select>
                </label>

                <label>
                    Location ↓
                    <select name="xpcountrycity" class="hp-input">
                        <option value="">--select a city</option>
                        <optgroup label="France">
                            <option value="Ajaccio">Ajaccio</option>
                            <option value="Bordeaux">Bordeaux</option>
                            <option value="Chambéry">Chambéry</option>
                            <option value="Grenoble">Grenoble</option>
                            <option value="La Rochelle">La Rochelle</option>
                            <option value="Lyon">Lyon</option>
                            <option value="Marseille">Marseille</option>
                            <option value="Nantes">Nantes</option>
                            <option value="Nice">Nice</option>
                            <option value="Paris">Paris</option>
                            <option value="Reims">Reims</option>
                            <option value="Strasbourg">Strasbourg</option>
                            <option value="Toulouse">Toulouse</option>
                        </optgroup>
                        <optgroup label="Great Britain">
                            <option value="Birmingham">Birmingham</option>
                            <option value="London">London</option>
                            <option value="Manchester">Manchester</option>
                        </optgroup>
                        <optgroup label="Spain">
                            <option value="Barcelona">Barcelona</option>
                            <option value="Madrid">Madrid</option>
                            <option value="Seville">Seville</option>
                        </optgroup>
                        <optgroup label="Germany">
                            <option value=">Berlin">Berlin</option>
                            <option value="Hamburg">Hamburg</option>
                            <option value="Munich">Munich</option>
                        </optgroup>
                        <optgroup label="Turkey">
                            <option value="Ankara">Ankara</option>
                            <option value="Istanbul">Istanbul</option>
                            <option value="Izmir">Izmir</option>
                        </optgroup>
                        <optgroup label="Denmark">
                            <option value="Aarhus">Aarhus</option>
                            <option value="Copenhagen">Copenhagen</option>
                            <option value="Odense">Odense</option>
                        </optgroup>
                        <optgroup label="Serbia">
                            <option value="Belgrade">Belgrade</option>
                            <option value="Prizen">Prizen</option>
                        </optgroup>
                    </select>
                </label>

                <label>
                    Start Date
                    <input type="date" name="xpdatestart" class="hp-input"
                        value=""
                        min="" max="2022-12-31">
                </label>

                <label>
                    End Date
                    <input type="date" name="xpdateend" class="hp-input"
                        value=""
                        min="" max="2022-12-31">
                </label>

                <button class="hp-btn" href="/search-experience">Search</button>
            </form>
        </div>
    </section>
    <section id="homepage-search-city">
        <h2>Where do you want to go next?</h2>
        
        <div id="homepage-search-city-block">
            <a class="homepage-searched-city" href="/search-experience?xpcategory=&xpcountrycity=>Berlin&xpdatestart=&xpdateend=">
                <img src="/images/towning-pictures/Berlin.jpg" alt="See Experiences in Berlin">
                <h4>Berlin</h4>
            </a>
            <a class="homepage-searched-city" href="/search-experience?xpcategory=&xpcountrycity=Istanbul&xpdatestart=&xpdateend=">
                <img src="/images/towning-pictures/Istanbul.jpg" alt="See Experiences in Istanbul">
                <h4>Istanbul</h4>
            </a>
            <a class="homepage-searched-city" href="/">
                <img src="/images/towning-pictures/Lisbon.jpg" alt="See Experiences in Lisbon">
                <h4>Lisbon</h4>
            </a>
            <a class="homepage-searched-city" href="/search-experience?xpcategory=&xpcountrycity=London&xpdatestart=&xpdateend=">
                <img src="/images/towning-pictures/London.png" alt="See Experiences in London">
                <h4>London</h4>
            </a>
            <a class="homepage-searched-city" href="/search-experience?xpcategory=&xpcountrycity=Belgrade&xpdatestart=&xpdateend=">
                <img src="/images/towning-pictures/Belgrade.jpg" alt="See Experiences in Belgrade">
                <h4>Belgrade</h4>
            </a>
            <a class="homepage-searched-city" href="/search-experience?xpcategory=&xpcountrycity=Copenhagen&xpdatestart=&xpdateend=">
                <img src="/images/towning-pictures/Copenhagen.jpg" alt="See Experiences in Copenhagen">
                <h4>Copenhagen</h4>
            </a> 
        </div>
    
        <a href="">View more destinations</a>
    </section>
</body>

