<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300&display=swap" rel="stylesheet">
   </head>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

   <footer>
      <hr>
      <div id="footer">
         <div id="footer-menu">
            <a href="">ABOUT</a>
            <a href="">CONDITIONS OF USE</a>
            <a href="">CONTACT</a>
         </div>
         <div id="footer-social">
            <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.8562-6/109686771_597629757604330_8061782402512010328_n.svg?_nc_cat=1&ccb=1-5&_nc_sid=6825c5&_nc_ohc=dCUA9MPwi2kAX8Ce7zO&_nc_ht=scontent-cdt1-1.xx&oh=f694e53831395ff8548aa049cbcac7f0&oe=61B0B9E6" alt="Go to Instagram">
            <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.8562-6/107460639_908313446346994_8727592782500185824_n.svg?_nc_cat=1&ccb=1-5&_nc_sid=6825c5&_nc_ohc=PpmzDFOA5IYAX-9rI_H&_nc_ht=scontent-cdt1-1.xx&oh=9030919e23eb8af80d21df9051d22026&oe=61B11D2E" alt="Go to Twitter">
            <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.8562-6/107554830_1744022432412027_1587346293425727213_n.svg?_nc_cat=1&ccb=1-5&_nc_sid=6825c5&_nc_ohc=4H0z2oi5EfoAX9IZWRb&_nc_ht=scontent-cdt1-1.xx&oh=603ac7645c3408468e89e5754f7723de&oe=61AFD209" alt="Go to Facebook">
         </div>
      </div>

   </footer>

</html>