<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300&display=swap" rel="stylesheet">
   </head>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

   <footer>
      <hr>
      <div id="footer">
         <div id="footer-menu">
            <a href="/about">ABOUT</a>
            <a href="/terms">CONDITIONS OF USE</a>
            <a href="">CONTACT</a>
         </div>
         <div id="footer-social">
            <img src="/images/towning-pictures/Instagram.png" alt="Go to Instagram">
            <img src="/images/towning-pictures/Twitter.png" alt="Go to Twitter">
            <img src="/images/towning-pictures/Facebook.png" alt="Go to Facebook">
         </div>
      </div>

   </footer>

</html>