html {
  --yellow: #FFD200;
  --darkbrown: #4D4637;
  --lightbrown: #B3AA99;
  --darkgreen: #00A482;
  --lightpink: #EADEDA;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font: 14px;
}

a {
  color: var(--darkbrown);
}

h1 {
  font-size: 64px;
  margin: 0;
}

/* HOMEPAGE STYLING */
#homepage {
  height: 80vh;
  background: var(--yellow);
}

#homepage-header {
  display: flex;
  justify-content: flex-end;
}

#homepage-header > a {
  padding: 5px 15px;
  margin: 10px 15px;
  text-decoration: none;
}

#homepage-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER STYLING */
hr {
  border: 2px solid var(--yellow);
}

#footer {
  background: white;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#footer-menu > a {
  padding: 5px 20px;
  font-size: 0.8rem;
  text-decoration: none;
}

#footer-social {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

#footer-social > img {
  height: 20px;
  width: 20px;
}

/* LOGIN STYLING */
#login-page {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 0;
}

#login-left {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 40%;
}

#login-right {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

#login-right > form {
  display: flex;
  flex-direction: column;
}

/* SIGNUP STYLING */
#signup-left > img {
  height: 50vh;
}