html {
  --yellow: #FFD200;
  --darkbrown: #4D4637;
  --lightbrown: #B3AA99;
  --darkgreen: #00A482;
  --lightpink: #EADEDA;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font: 14px;
}

a {
  color: var(--darkbrown);
}

h1 {
  font-size: 64px;
  margin: 0;
}

.form-input {
  display: block;
  font-family: sans-serif;
  font-size: 100%;
  background: white;
  border-top: none ;
  border-left: none ;
  border-right: none ;
  border-bottom: 2px solid var(--yellow);
  width: 90%;
  margin: 5px 0px;
  color: darkgray;
  font-size: 0.8rem;
  padding: 5px;
}

.form-btn {
  width: 175px;
  height: 35px;
  font-family: inherit;
  color: white;
  background-color: var(--darkbrown);
  border-radius: 8px;
  margin-top: 35px;
}

/* HOMEPAGE STYLING */
#homepage {
  height: 100vh;
  background: var(--yellow);
  padding-top: 30px;
}

#homepage-header {
  display: flex;
  justify-content: flex-end;
}

#homepage-header > a {
  width: 80px;
  padding: 5px 15px;
  margin: 0 15px;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

#homepage-header > a:first-child {
  background: var(--darkbrown);
}

#homepage-header > a:nth-child(2) {
  background: var(--lightbrown);
}

#homepage-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#homepage-search {
  width: 50%;
  height: 60px;
  background: white;
  border-radius: 8px;
  border-color: none;
  padding-left: 5px;
}

#homepage-search > form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#homepage-search > form > label {
  margin: auto 0;
}

.hp-input {
  display: block;
  font-family: sans-serif;
  background: white;
  border: none; 
  color: lightgray;
  font-size: 0.8rem;
  padding: 5px;
}

.hp-btn {
  background-color: #4D4637;
  color: white;
  height: 60px;
  width: 60px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}

#homepage-search-city {
  background: white;
  margin-top: 50px;
}

#homepage-search-city-img {
  background: white;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

#homepage-search-city > img {
  width: calc(100);
}

/* FOOTER STYLING */
hr {
  border: 2px solid var(--yellow);
}

#footer {
  background: white;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#footer-menu > a {
  padding: 5px 20px;
  font-size: 0.8rem;
  text-decoration: none;
}

#footer-social {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

#footer-social > img {
  height: 20px;
  width: 20px;
}

/* LOGIN STYLING */
#login-page {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 0;
}

#login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40%;
}

#login-left > img {
  width: auto;
  height: 100%;
}

#login-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2%;

}

#login-right > form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#login-right > form > label {
  margin-top: 20px;
}


/* SIGNUP STYLING */
#signup-page {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 0;
}

#signup-left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40%;
}

#signup-left > img {
  width: 100%;
  height: auto;
}

#signup-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2%;

}

#signup-right > form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#signup-right > form > label {
  margin-top: 20px;
}


/* NEW EPERIENCE FORM STYLING */
#newxp-submit {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 0;
}

#newxp-left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
}

#newxp-left > img {
  width: 100%;
  height: auto;
}

#newxp-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2%;
}

#newxp-right > form {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
}

#newxp-right > form > label {
  margin-bottom: 25px;
}


/*USER EDIT PROFILE STYLING*/
#userprofile-edit-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 0;
}

#hp-logo {
  margin-top: 28px;
  margin-left: 28px;
}

#about1 {
  display:flex;
  flex-direction: row;
  margin-left: 250px;
}

#aboutyou-left {
  display: flex;
  flex-direction: column;
  width: 22%;
}

#aboutyou-left > h3 {
  font-size: 1.1rem;
  color:#00A482;
  padding-left: 80px;
}

#aboutyou-right {
  width: 56%;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.userpicture {
  border-radius:50%;
  width:160px;
  height:160px;
  background-color: white;
  border:1px solid black;
  box-shadow: 9px 5px 5px grey;
  position:relative;
  bottom: 20px;
  float: right;
  margin-right: 10%;
}

#aboutyou-right > form {
  display: flex;
  flex-direction: column;
}

#contact > .form-btn {
  margin-top: 40px;
  margin-left: 35%;
} 

#imginput {
  position: absolute;
  margin-left: 27%;
  margin-top: 7%;
}

#aboutyou-right > form > label {
  margin-top: 19px;
}



/*USER PROFILE STYLING*/
#user-profile {
  background-color: #00A482;
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 0;
}

#hp-logo {
  margin-top: 28px;
  margin-left: 28px;
}

#profile-menu {
  margin-top: 123px;
  margin-left: 170px;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  height: 32%;
  width: 100%;
  margin-right: 20px;
}

.searchpicture {
  position: relative;
  top: 120px;
  left: 67px;
}

#search-button {
  margin-top: 120px;
}

#search-button > a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 10px;
}

#profile-content,
#profile-experience-traveller,
#profile-experience-hote {
  display: flex;
  width: 46%;
  height: 70%;
  background-color: #C4C4C4;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 123px;
  margin-left: 100px;
}

.profile-experience-traveller-cards,
.profile-experience-hote-cards {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 300px;
  margin-top: 15px;
  margin-left: 60px;
}

.profile-experience-traveller-cards > ul,
.profile-experience-hote-cards > ul {
  width: 160px;
  height: 180px;
  list-style: none;
}

.profile-experience-traveller-cards > ul > li,
.profile-experience-hote-cards > ul > li {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9em;
}

.experience-picture {
  border-radius: 8px;
  position: relative;
}

.txt-img {
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  margin-left: 10px;
}

.profile-experience-hote-cards > ul > li > form > button {
  margin-left: 45px;
}

.edit-link {
  font-size: 0.8em;
  color: #305bf1;
  margin-left: 76%;
}

#profile-btn-profile,
#profile-btn-traveller,
#profile-btn-hote {
  height: 5em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.95em;
  font-weight: bold;
  background-color: #B3AA99;
  border: 1px solid black;
  border-radius: 8px;
}

.profile-content-picture {
  
  float: left;
}

.userpic {
  border-radius:50%;
  width:160px;
  height:160px;
  background-color: white;
  border:1px solid black;
  box-shadow: 9px 5px 5px grey;
  margin-top: 65px;
  margin-left: 95px;
  
}

.profile-content-username{
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin-left: 60px;
  margin-top: 95px;
  width: 400px;
}

.profile-content-location {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  margin-left: 60px;
  margin-top: 10px;
  width: 400px;
}

.profile-content-age,
.profile-experience-traveller-reviews,
.profile-experience-hote-reviews {
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  margin-left: 60px;
  margin-top: 10px;
  width: 400px;
}

.profile-content-description {
  height: 10em;
  width: 68%;
  background-color: #e4dcdc;
  border-radius: 8px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.fa-star.checked {
  color:yellow;
}

/* EXPERIENCE RESULTS STYLING */

#experience-results-header {
  background: var(--yellow);
  height: 100px;
  padding: 0px 10px;
}

#experience-results-header > h1 > a {
  text-decoration: none;
  font-size: 2.5rem;
}

#experience-results-nbr {
  padding: 0px 10px;
}

#experience-results {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#experience-card {
  background: #EADEDA;
  width: calc(100vw / 3 - 15px);
  display: flex;
  flex-direction: column;
}

#experience-card > p {
  padding: 0px 10px;
}

#experience-card > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgreen);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  width: 175px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#experience-card > img {
  display: block;
  height: 100px;
  margin: auto;
  overflow: hidden;
}

/*ABOUT PAGE*/
#about-us {
  display: flex;
  flex-direction: row;
}

#story-left,
#story-right {
  width: 50vh;
  
}