<body>

    <section id="newxp-submit">

        <div id="newxp-left">
            <img src="/images/towning-pictures/new-experience.jpeg" alt="Submit a new Experience to towners">
        </div>

        <div id="newxp-right">
            <div id="newxp-header">
                <a href="/">← Back to homepage</a>
                <h2>Suggest a new Experience</h2>
            </div>
            <form action="/new-experience/create" method="POST" enctype="multipart/form-data" id="newxp-form">
                <label>
                    Category
                    <select name="newxpcategory" class="form-input">
                        <option value="">--select a category</option>
                        <optgroup label="Food experience">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Happy Hour">Happy Hour</option>
                            <option value="Dinner">Dinner</option>
                        </optgroup>
                        <optgroup label="Sports experience">
                            <option value="Running">Running</option>
                            <option value="Biking">Biking</option>
                            <option value="Yoga">Yoga</option>
                            <option value="Extreme Sports">Extreme sports</option>
                        </optgroup>
                        <optgroup label="Cultural experience">
                            <option value="Museum">Museums</option>
                            <option value="Must-see spots">Must-see spots</option>
                            <option value="Unknown spots">Unknown spots</option>
                            <option value="Historical spots">Historical spots</option>
                        </optgroup>
                    </select>
                </label>

                <label>
                    Date and Time
                    <input type="date" name="newxpdate" class="form-input"
                        value=""
                        min="" max="2022-12-31">
                    <input type="time" name="newxptime" class="form-input"
                        value="">
                </label>

                <label>
                    Country and City
                    <select name="newxpcountrycity" class="form-input">
                        <option value="">Choose your country and city</option>
                        <optgroup label="France">
                            <option value="Ajaccio">Ajaccio</option>
                            <option value="Bordeaux">Bordeaux</option>
                            <option value="Chambéry">Chambéry</option>
                            <option value="Grenoble">Grenoble</option>
                            <option value="La Rochelle">La Rochelle</option>
                            <option value="Lyon">Lyon</option>
                            <option value="Marseille">Marseille</option>
                            <option value="Nantes">Nantes</option>
                            <option value="Nice">Nice</option>
                            <option value="Paris">Paris</option>
                            <option value="Reims">Reims</option>
                            <option value="Strasbourg">Strasbourg</option>
                            <option value="Toulouse">Toulouse</option>
                        </optgroup>
                        <optgroup label="Great Britain">
                            <option value="Birmingham">Birmingham</option>
                            <option value="London">London</option>
                            <option value="Manchester">Manchester</option>
                        </optgroup>
                        <optgroup label="Spain">
                            <option value="Barcelona">Barcelona</option>
                            <option value="Madrid">Madrid</option>
                            <option value="Seville">Seville</option>
                        </optgroup>
                        <optgroup label="Germany">
                            <option value="Berlin">Berlin</option>
                            <option value="Hamburg">Hamburg</option>
                            <option value="Munich">Munich</option>
                        </optgroup>
                        <optgroup label="Turkey">
                            <option value="Ankara">Ankara</option>
                            <option value="Istanbul">Istanbul</option>
                            <option value="Izmir">Izmir</option>
                        </optgroup>
                        <optgroup label="Denmark">
                            <option value="Aarhus">Aarhus</option>
                            <option value="Copenhagen">Copenhagen</option>
                            <option value="Odense">Odense</option>
                        </optgroup>
                        <optgroup label="Serbia">
                            <option value="Belgrade">Belgrade</option>
                            <option value="Prizen">Prizen</option>
                        </optgroup>
                    </select>
                </label>

                <label>
                    Description
                    <textarea name="newxpdesc" class="form-input" rows="5" cols="0"></textarea>
                </label>
                
                <label>
                    Experience Pic
                    <input type="file" name="newxpimg" accept="image/png, image/jpeg">
                </label>
                
                <div id="newxp-error">
                    {{#if errorMessage}}
                    <p>{{errorMessage}}</p>
                    {{/if}}
                </div>

                <button class="form-btn">Submit</button>
            </form>

        </div>

    </section>

</body>