<body>

    <section id="newxp-submit">

        <div id="newxp-left">
            <img src="/images/towning-pictures/new-experience.jpeg" alt="Submit a new Experience to towners">
        </div>

        <div id="newxp-right">
            <div id="newxp-header">
                <a href="/">← Back to homepage</a>
                <h2>Suggest a new Experience</h2>
            </div>
            <form action="/new-experience/create" method="POST" enctype="multipart/form-data" id="newxp-form">
                <label>
                    Category
                    <select name="newxpcategory" class="form-input">
                        <option value="">--select a category</option>
                        <optgroup label="Food experience">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Happy hour">Happy Hour</option>
                            <option value="Dinner">Dinner</option>
                        </optgroup>
                        <optgroup label="Sports experience">
                            <option value="Running">Running</option>
                            <option value="Biking">Biking</option>
                            <option value="Yoga">Yoga</option>
                            <option value="Extreme sports">Extreme sports</option>
                        </optgroup>
                        <optgroup label="Cultural experience">
                            <option value="Museums">Museums</option>
                            <option value="Must-see spots">Must-see spots</option>
                            <option value="Unknown spots">Unknown spots</option>
                            <option value="Historical spots">Historical spots</option>
                        </optgroup>
                    </select>
                </label>

                <label>
                    Date and Time
                    <input type="date" name="newxpdate" class="form-input"
                        value=""
                        min="" max="2022-12-31">
                    <input type="time" name="newxptime" class="form-input"
                        value="">
                </label>

                <label>
                    Country and City
                    <select name="newxpcountrycity" class="form-input">
                        <option value="">Choose your country and city</option>
                        <optgroup label="france">
                            <option value="Ajaccio / FRANCE">Ajaccio</option>
                            <option value="Bordeaux / FRANCE">Bordeaux</option>
                            <option value="Chambéry / FRANCE">Chambéry</option>
                            <option value="Grenoble / FRANCE">Grenoble</option>
                            <option value="La Rochelle / FRANCE">La Rochelle</option>
                            <option value="Lyon / FRANCE">Lyon</option>
                            <option value="Marseille / FRANCE">Marseille</option>
                            <option value="Nantes / FRANCE">Nantes</option>
                            <option value="Nice / FRANCE">Nice</option>
                            <option value="Paris / FRANCE">Paris</option>
                            <option value="Reims / FRANCE">Reims</option>
                            <option value="Strasbourg / FRANCE">Strasbourg</option>
                            <option value="Toulouse / FRANCE">Toulouse</option>
                        </optgroup>
                        <optgroup label="great-britain">
                            <option value="Birmingham / GREAT BRITAIN">Birmingham</option>
                            <option value="London / GREAT BRITAIN">London</option>
                            <option value="Manchester / GREAT BRITAIN">Manchester</option>
                        </optgroup>
                        <optgroup label="spain">
                            <option value="Barcelona / SPAIN">Barcelona</option>
                            <option value="Madrid / SPAIN">Madrid</option>
                            <option value="Seville / SPAIN">Seville</option>
                        </optgroup>
                        <optgroup label="germany">
                            <option value="Berlin / GERMANY">Berlin</option>
                            <option value="Hamburg / GERMANY">Hamburg</option>
                            <option value="Munich / GERMANY">Munich</option>
                        </optgroup>
                        <optgroup label="turkey">
                            <option value="Ankara / TURKEY">Ankara</option>
                            <option value="Istanbul / TURKEY">Istanbul</option>
                            <option value="Izmir / TURKEY">Izmir</option>
                        </optgroup>
                        <optgroup label="denmark">
                            <option value="Aarhus / DENMARK">Aarhus</option>
                            <option value="Copenhagen / DENMARK">Copenhagen</option>
                            <option value="Odense / DENMARK">Odense</option>
                        </optgroup>
                        <optgroup label="serbia">
                            <option value="Belgrade / SERBIA">Belgrade</option>
                            <option value="Prizen / SERBIA">Prizen</option>
                        </optgroup>
                    </select>
                </label>

                <label>
                    Description
                    <textarea name="newxpdesc" class="form-input" rows="5" cols="0"></textarea>
                </label>
                
                <label>
                    Experience Pic
                    <input type="file" name="newxpimg" accept="image/png, image/jpeg">
                </label>
                
                <div id="newxp-error">
                    {{#if errorMessage}}
                    <p>{{errorMessage}}</p>
                    {{/if}}
                </div>

                <button class="form-btn">Submit</button>
            </form>

        </div>

    </section>

</body>