<body>
    Read about our story!

    <h3>The short</h3>
    <p>Both passionate about discoveries and new encounters, we wanted this site to be a "bnb air" of travel.</p>

    <h3>The long</h3>
    <p>We developed this site as part of our web development training (yes, great ideas sometimes have prosaic beginnings). We found the idea of ​​offering an exchange and special moments around the trip interesting, whether you are a traveler or a guest. Welcome to towning, we hope you enjoy it as much as we do.</p>
</body>