<body>

    <section id="about-us">

        <h3 id="hp-logo"><a href="/">towning</a></h3>
        
        <h2 id="about-story">Read about our story!</h2>

        <main id="about-main">
            <article id="story-left">
                <img class="travel-storypic" width="300px" src="/images/towning-pictures/travel.jpg" alt="Travel picture"/>
                <div id="short-story">
                    <h3>The short</h3>
                    <p>Both passionate about discoveries and new encounters, we wanted this site to be a "b&b air" of travel.</p>
                </div>
            </article>

            <article id="story-right">
                <img class="computer-storypic" width="300px" src="/images/towning-pictures/computer.jpg" alt="Computer picture"/>
                <div id="long-story">
                    <h3>The long</h3>
                    <p>We developed this site as part of our web development training (yes, great ideas sometimes have prosaic beginnings).</p>
                    <p>We found the idea of ​​offering an exchange and special moments around the trip interesting, whether you are a traveler or a guest. Welcome to towning, we hope you enjoy it as much as we do.</p>
                </div>
            </article>
        </main>

    </section>
</body>