<body>
    <section id="contact-page">
        <h3 id="hp-logo"><a href="/">towning</a></h3>

        <h2 id="contact-title">Contact us</h2>

        <div id="contact-form">
           <p>You have troubles using towning or you want to share your experience?</p>
           <p>Contact us here.</p>

           <form id="contact-info" action="" method="POST">
                <label for="username">
                    Full Name
                    <input type="text" name="username" class="form-input">
                </label>

                <label for="useremail">
                    Email
                    <input type="text" name="useremail" class="form-input">
                </label>

                <label>
                        What is it about?
                        <select id="contact-theme" name="contacttheme" class="form-input">
                            <option value="" hidden="hidden">Select your area</option>
                            <option value="Information">Information about the brand</option>
                            <option value="Technical issues">Technical issues on the site</option>
                            <option value="Claim">Claim</option>
                            <option value="Experience sharing">Share an experience</option>
                            <option value="Other">Other</option>
                        </select>
                    </label>

                <label for="contactmessage">
                        Please give us the maximum of details
                        <textarea placeholder="-Maximum 5000 characters-" name="contactmessage" class="form-input"></textarea> 
                </label>

                <button class="form-btn">Submit</button>
            </form>
        </div>

        <div id="contact-some">
            <p>You can also contact us via our social media channels.</p>
                <div id="some-logos">
                    <img src="/images/towning-pictures/Instagram.png" alt="Go to Instagram">
                    <img src="/images/towning-pictures/Twitter.png" alt="Go to Twitter">
                    <img src="/images/towning-pictures/Facebook.png" alt="Go to Facebook">
                </div>
        </div>
    </section>
</body>