<body>
    <h3 id="hp-logo"><a href="/">towning</a></h3>

    <h2>Thank you for using towning!</h2>

    <div>
        <p>These Terms of Service (“Terms”) are a binding legal agreement between you and towning that govern your use of the websites, applications, and other offerings from towning. When used in these Terms, “towning,” “we,” “us,” or “our” refers to the towning entity set out on Schedule 1 with whom you are contracting.</p>

        <p>The towning Platform offers an online venue that enables users (“Members”) to publish, offer, search for, and book services. Members who publish and offer services are “Hosts” and Members who search for, book, or use services are “Guests.” Hosts offer activities, excursions, and events (“Experiences”), and a variety of travel and other services (collectively, “Host Services,” and each Host Service offering, a “Listing”). You must register an account to access and use many features of the towning Platform, and must keep your account information accurate. As the provider of the towning Platform, towning does not own, control, offer or manage any Listings or Host Services. towning is not a party to the contracts concluded directly between Hosts and Guests, nor is towning a real estate broker or insurer. towning is not acting as an agent in any capacity for any Member, except as specified in the Payments Terms of Service (“Payment Terms”). To learn more about towning’s role see Section 16.</p>

        <p>We maintain other terms and policies that supplement these Terms like our Privacy Policy, which describes our collection and use of personal data, and our Payments Terms, which govern any payment services provided to Members by the towning payment entities ("towning Payments").</p>

        <p>If you Host, you are responsible for understanding and complying with all laws, rules, regulations and contracts with third parties that apply to your Host Services.</p>
    </div>
</body>